.auth-page__exit {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  background-image: url("../../../images/exit.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
  padding: 0;
}

@media screen and (max-width: 759px) {
  .auth-page__exit {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.auth-page__exit:hover {
  opacity: 60%;
  cursor: pointer;
}
