.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);
  transition: 0.5s;
  font-size: 0;
}

.popup:hover {
  cursor: pointer;
}
