.profile {
  max-width: 880px;
  box-sizing: content-box;
  margin: auto;
  display: flex;
  padding: 0 0 10px;
}

@media screen and (max-width: 759px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}
