.header__text {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: auto 0 auto auto;
  padding: 6px 0 0;
  color: #FFFFFF;
  transition: opacity 0.2s;
  background: none;
  border: none;
}
