.header__text_darker {
  color: #A9A9A9;
  margin: auto 0 auto 24px;
  font-weight: 400;
}

.header__text_darker:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 925px) {
  .header__text_darker {
    margin: auto 28px auto 24px;
  }
}

@media screen and (max-width: 760px) {
  .header__text_darker {
    margin: auto 28px auto auto;
  }
}
